<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href = "{{ url_for('index') }}">
            <button type = "button" >Página Inicial</button>
        </a>
    </header>
    <main>
        <h1> Cadastramento de Produtos!</h1>
        <section class = "form">
            <form method = "post" action="{{ url_for('cadastro') }}">

                {% if erro %}
                    <p>{{ erro }}</p>
                {% endif %}
                
                <div>
                    <label for ="nome">Nome: </label>
                    <input id = "nome" name = "nome" type="text" placeholder= "Nome:" required>
                </div>

                <div>
                    <label for ="descricao">Descrição: </label>
                    <input id = "descricao" name = "descricao" type="text" maxlength="350" placeholder= "Descrição" required>
                </div>

                <div>
                    <label for ="preco">Preço: </label>
                    <input id = "preco" name = "preco" type="preco"  placeholder= "Digite o preço" required>
                </div>

                <button class="button-form" type="submit">Entrar</button>
                
            </form>
        </section>
        
    </main>

    <footer class = "rodape">
        <div class = "copyright">
            <strong>&copy; Luisa Company StrayKids. Todos os direitos reservados.</strong>
        </div>
    </footer>
</body>
</html>